#scheme-wrapper {
    z-index: 1;
    margin-top: 65px;
    width: 1097px;
    height: 602px;
}
#element-list {
    z-index: 2;
    position: absolute;
    top: 65px;
    left: 5px;
    width: 240px;
}
#analyze-menu {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#params-pane {
    z-index: 2;
    position: absolute;
    top: 65px;
    right: 5px;
    width: 240px;
}
.border-light {
    border-color: #ccc !important;
}
.list-group-item-light {
    background-color: #f8f9fa;
}
#result-background {
    z-index:1000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background-color:black;
    opacity:0.5;
}
#image-wrapper {
    z-index:1001;
    position:absolute;
    left:50%;
    top:40%;
    margin-left:-320px;
    margin-top:-240px;
    height:480px;
    width:640px;
    border: 1px solid #000;
}
#error-wrapper {
    z-index:1001;
    position:absolute;
    left:50%;
    top:40%;
    margin-left:-320px;
    margin-top:-240px;
    height:480px;
    width:640px;
    border: 1px solid #000;
    background-color: #fff;
}
.hide-image-button {
    position:absolute;
    top:0px;
    right:0px;
}
.scheme-link {
    stroke: black;
    stroke-width: 2;
    fill: none;
}
circle.input {
    stroke:black;
    fill:white;
    stroke-width:2;
}
circle.output {
    stroke:black;
    fill:black;
    stroke-width:2;
}
circle.output.warning {
    stroke:red;
    fill:red;
}
circle.io {
    stroke:black;
    fill:black;
    stroke-width:2;
}
path.plus-input {
    fill:white;
}
path.minus-input {
    fill:black;
}
.param-input {
    width:40px;
}
#author {
    z-index: 2;
    position: fixed;
    bottom: 5px;
    left:50%;
    margin-left:-120px;
    width:240px;
}
.ml-2-25rem {
    margin-left: 2.25rem !important;
}
.ml-2rem {
    margin-left: 2rem !important;
}
